* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: absolute;
  width: 100%;
  height: 5600px;

  background: #1f2833;
}

#header-side {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  width: 1600px;
  padding: 5px;
  height: 80px;
  background-color: #1f2833;
  z-index: 10;
  border-bottom: 3px solid #66fcf1;
}

#NavBar {
  /*top navigator*/
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: whitesmoke !important;
  padding: 15px;
  gap: 15px;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  font-family: "Sansita Swashed";
}
a {
  text-decoration: none;
  color: #c4c4c4;
}

a:hover {
  color: #66fcf1;
}

#nav-logo {
  /* Saeid Abedi */
  position: absolute;
  width: 200px;
  height: 36px;
  margin: 1% 0% 0% 1100px;
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  color: #66fcf1;
}
#splash {
  position: absolute;
  width: 570px;
  opacity: 0.6;
}
#my-name-is {
  color: #66fcf1;
  /* margin: 300px 0% 0% 100px; */
  position: absolute;
  width: 550px;
  height: 131px;
  font-family: "Sansita Swashed";
  font-weight: 500;
  font-size: 130px;
  line-height: 100px;
}

#left-section {
  height: 750px;
  /* display: grid;
  grid-template-rows: auto auto auto auto; */
  margin: 25% 0% 0% 12%;
}
#resume-button {
  position: absolute;
  width: 13%;
  text-align: center;
  /* background-color: #66fcf1; */
  color: whitesmoke;
  font-weight: bold;
  height: 0.6%;
  margin: 26% 0% 0% 0%;
  border-radius: 25px;
  border: 6px solid #66fcf1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

#mypicture-background {
  position: absolute;
  margin: 30% 0% 0% 0%;
  opacity: 0.2;
}
#My-Picture1 {
  position: absolute;
  height: 400px;
  width: 350px;
  margin: 5% 0% 0% 20%;
  border-radius: 5%;
  /* z-index: 1; */
  opacity: 0.5;
}

#My-Picture1:hover {
  z-index: 1;
  opacity: 1;
}

#My-Picture2 {
  position: absolute;
  height: 400px;
  width: 350px;
  margin: 6% 0% 0% 0%;
  border-radius: 5%;
  /* z-index: 1; */
  opacity: 0.5;
}

#My-Picture2:hover {
  z-index: 1;
  opacity: 1;
}
#My-Picture3 {
  position: absolute;
  height: 350px;
  width: 350px;
  margin: 15% 0% 0% 20%;
  border-radius: 5%;
  /* z-index: 1; */
  opacity: 0.5;
}

#My-Picture3:hover {
  z-index: 1;
  opacity: 1;
}

#My-Picture4 {
  position: absolute;
  height: 350px;
  width: 450px;
  margin: 23% 0% 0% 2%;
  border-radius: 5%;
  /* z-index: 1; */
}

#text1 {
  position: absolute;
  width: 239px;
  height: 18px;
  margin-top: 30%;
  font-family: "Bebas Neue";
  font-style: normal;
  /* font-weight: bold; */
  font-size: 26px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}
#text2 {
  position: absolute;
  width: 110px;
  height: 18px;
  text-overflow: scroll;
  font-family: "Bebas Neue";
  font-weight: 300;
  font-size: 22px;
  line-height: 18px;
  /* identical to box height */
  margin-top: 33%;
  color: #ffffff;
}
#mainPage {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 8%;
  height: 15%;
}

#About-me {
  position: absolute;
  /* background-color: #c4c4c4; */
  width: 800px;
  height: 700px;
  margin: 0% 0% 0% 20%;
  border-radius: 10%;
}

#clause1 {
  position: absolute;
  margin-right: 25%;
}

#clause2 {
  position: absolute;
  margin: 5% 0% 0% 110%;
}

/* h2 {
  position: absolute;
  width: 250px;
  height: 75px;
  font-family: "Robot";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  margin-left: 6%;
  margin-top: 5%;
  color: #66fcf1;
} */
#Aboutme-header {
  position: absolute;
  margin: 6% 0% 0% 2%;
  width: 250px;
  font-family: "Sansita Swashed";
}
.about-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: whitesmoke;
}
#about-text-div {
  margin: 5% 0% 0% 15%;
  line-height: 35px;
}

#line-for-tools {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 5% 0% 0% 0%;
}

#line-for-tools:not(:empty)::before {
  margin-right: 5%;
}

#line-for-tools::before,
#line-for-tools::after {
  content: "";
  flex: 1;
  border-bottom: 5px solid #66fcf1;
}

#line-for-tools:not(:empty)::after {
  margin-left: 5%;
}
#line-for-tools::before,
#line-for-tools::after {
  content: "";
  flex: 1;
  border-bottom: 5px solid #66fcf1;
}
#prof {
  font-size: 40px;
  font-family: "Sansita Swashed";
  color: #66fcf1;
}
#prof-list {
  background: rgba(0, 215, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(0, 215, 255, 0.3);
  position: absolute;
  /* background-color: #272525; */
  width: 50%;
  height: 300px;
  margin: 3% 0% 0% 25%;
  font-family: Arial, Helvetica, sans-serif;
}
.prof-text {
  font-size: 20px;
  color: #ffffff;
  margin: 8% 0% 0% 10%;
}

#techSkillHeader {
  position: absolute;
  width: 351px;
  height: 72px;
  font-size: 35px;
  margin: 55% 0% 0% 35%;
  font-family: Rock Salt;
}
#mosalas1 {
  position: absolute;
  margin: 115% 0% 0% 0%;
  opacity: 0.6;
}
#mosalas2 {
  position: absolute;
  margin: 55% 0% 0% 55%;
  opacity: 0.6;
}

#Tech-div {
  position: absolute;
  height: 1000px;
  width: 70%;
  margin: 60% 0% 0% 14%;
  background: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(0, 215, 255, 0.3);
}
.logo {
  width: 230px;
  height: 200px;
  padding: 30px;
}
#tech-logos-div {
  position: absolute;
  padding: 10px;
  margin: 2% 0% 0% 20%;
  width: 50%;
}

.skillbar-title {
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}

#tools-skills {
  display: grid;
  grid-row: auto auto;
  margin: 3% 0% 0% 0%;
}

#tools-text-top {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
}

#tools1 {
  width: 220px;
}
#tools2 {
  width: 250px;
}

#tools3 {
  width: 270px;
}
#tools4 {
  width: 250px;
}
#tools5 {
  width: 180px;
}

#splash2 {
  position: absolute;
  height: 550px;
  margin: 45% 0% 0% 36%;
  z-index: 1;
  opacity: 0.6;
}
#tools-text-down {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  margin: 8% 0% 0% 16%;
  gap: 100px;
}

#tools-splash1 {
  position: absolute;
  height: 240px;
  margin-bottom: 25%;
}
/* h4 {
  position: absolute;
  margin: 2000px 0% 0% 36%;
  font-family: Rock Salt;
  font-size: 50px;
  background-color: #c4c4c4;
  width: 400px;
  text-align: center;
} */

#Projects-div-Showmore {
  background-color: #272525;
  width: 350px;
  height: 450px;
}

#line-for-projects {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 2250px 0% 0% 0%;
}

#line-for-projects:not(:empty)::before {
  margin-right: 5%;
}

#line-for-projects::before,
#line-for-projects::after {
  content: "";
  flex: 1;
  border-bottom: 8px solid #66fcf1;
}

#line-for-projects:not(:empty)::after {
  margin-left: 8%;
}
#line-for-projects::before,
#line-for-projects::after {
  content: "";
  flex: 1;
  border-bottom: 8px solid #66fcf1;
}
#softwareDevelopment {
  font-size: 40px;
  font-family: "Sansita Swashed";
  color: #66fcf1;
}
#movieRecommender-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 2350px 0% 0% 2%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#movie-card-top {
  position: absolute;
  padding: 5px;
}

#movie-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 4%;
  color: whitesmoke;
}
#WPF-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 2350px 0% 0% 30%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#WPF-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#WPF-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 4%;
  color: whitesmoke;
}
#FishGame-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 2350px 0% 0% 58%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#FishGame-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#FishGame-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 4%;
  color: whitesmoke;
}

/* #software-projects-Showmore {
  display: grid;
  grid-template-columns: auto auto auto;
} */

#dots {
  margin: 2450px 0% 0% 1280px;
}
#showMore-button {
  position: absolute;
  height: 35px;
  width: 100px;
  background-color: #66fcf1;
  margin: 2440px 0% 0% 15px;
}
#line-for-projects2 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 170px 0% 0% 0%;
}

#line-for-projects2:not(:empty)::before {
  margin-right: 5%;
}

#line-for-projects2::before,
#line-for-projects2::after {
  content: "";
  flex: 1;
  border-bottom: 8px solid #66fcf1;
}

#line-for-projects2:not(:empty)::after {
  margin-left: 8%;
}
#line-for-projects2::before,
#line-for-projects2::after {
  content: "";
  flex: 1;
  border-bottom: 8px solid #66fcf1;
}
#webDevelopment {
  font-size: 40px;
  font-family: "Sansita Swashed";
  color: #66fcf1;
}

#HarbourSpace-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 300px 0% 0% 2%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#HarbourSpace-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#HarbourSpace-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 4%;
  color: whitesmoke;
}

#landPage-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 300px 0% 0% 30%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#landPage-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#landPage-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 4%;
  color: whitesmoke;
}

#Tribute-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 300px 0% 0% 58%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#Tribute-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#Tribute-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 4%;
  color: whitesmoke;
}
#dots2 {
  margin: 100px 0% 0% 410px;
}
#web-projects {
  display: grid;
  grid-template-columns: auto auto auto;
}

#showMore-button2 {
  position: absolute;
  height: 35px;
  width: 100px;
  background-color: #66fcf1;
  margin: 85px 0% 0% 490px;
}

#line-for-projects3 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 520px 0% 0% 0%;
}

#line-for-projects3:not(:empty)::before {
  margin-right: 5%;
}

#line-for-projects3::before,
#line-for-projects3::after {
  content: "";
  flex: 1;
  border-bottom: 8px solid #66fcf1;
}
#line-for-projects3:not(:empty)::after {
  margin-left: 8%;
}
#line-for-projects3::before,
#line-for-projects3::after {
  content: "";
  flex: 1;
  border-bottom: 8px solid #66fcf1;
}
#MLDevelopment {
  font-size: 40px;
  font-family: "Sansita Swashed";
  color: #66fcf1;
}

#FacialEmotion-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 300px 0% 0% 2%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#FacialEmotion-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#FacialEmotion-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 0%;
  color: whitesmoke;
}
#FaceDetection-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 300px 0% 0% 30%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#FaceDetection-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#FaceDetection-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 0%;
  color: whitesmoke;
}
#QRScanner-card {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 300px 0% 0% 58%;
  height: 200px;
  width: 350px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
#QRScanner-card-top {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
}

#QRScanner-card-bottom {
  position: absolute;
  padding: 5px;
  margin: 15% 0% 0% 0%;
  color: whitesmoke;
}

#dots3 {
  margin: 120px 0% 0% 400px;
}

#showMore-button3 {
  position: absolute;
  height: 35px;
  width: 100px;
  background-color: #66fcf1;
  margin: 111px 0% 0% 500px;
}

.All-contacts {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
}

.contact-logo {
  height: 100px;
}
#contacts-div {
  position: absolute;

  margin: 50px 0% 0% 25%;
  width: 800px;
  height: 600px;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
h5 {
  font-family: "Roboto";
  font-size: 35px;
  border-bottom: 5px solid #66fcf1;
  color: whitesmoke;
}

#email {
  position: absolute;
  color: whitesmoke;
  font-family: "Roboto";
  font-size: 20px;
}
#linkedin {
  position: absolute;
  margin-top: 15%;
  color: whitesmoke;
  font-family: "Roboto";
  font-size: 20px;
}
#instagram {
  position: absolute;
  margin-top: 30%;
  color: whitesmoke;
  font-family: "Roboto";
  font-size: 20px;
}
#PhoneNO {
  color: whitesmoke;
  font-family: "Roboto";
  font-size: 20px;
  position: absolute;
  margin-top: 45%;
}

#API {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 60%;
  width: 1000px;
  height: 500px;
  border: 4px solid #66fcf1;
  background-color: rgba(0, 215, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}

#answer-button-div {
  position: static;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0%;
  gap: 35px;
}
/* #no-button {
  position: static;
} */

#language-selection {
  /* position: absolute; */
  margin: 0% 0% 0% 0%;
  width: 150px;
}

#message-button {
  position: absolute;
  color: #66fcf1;
  margin-top: 15px;
  border: 4px solid #66fcf1;
  border-radius: 35%;
  width: 120px;
  height: 60px;
  padding: 5px;
  text-align: center;
  font-family: "Sansita Swashed";
  font-size: 25px;
}

#message-button:hover {
  opacity: 50%;
  cursor: pointer;
}
#message-text {
  margin-top: 15px;
  width: 100px;
}
.callout {
  margin-left: 490px;
}
.close-button {
  width: 20px;
  height: 20px;
  background-color: #272525;
}
#language-selection-div {
  position: absolute;
}

#API-text {
  width: 45%;
  /* height: ; */
  text-overflow: ellipsis;
}
